/*color*/
html {
  --primary: #004fff;
  --light: #fff;
  --dark: #21262a;
  --secondary: #0a14cc;
  --primary-gradient: linear-gradient(
    rgba(255, 255, 255, 0.4),
    rgba(0, 79, 255, 0.4)
  );
  --accent: #ffb905;
}

body {
  margin: 0;
}
